%% test options
{cover_enabled, true}.

%% xref options
{xref_warnings, true}.
{xref_checks, [undefined_function_calls]}.

%% compiler options
{erl_opts, [
	debug_info, 
	fail_on_warning
]}.

%% deps list
{deps, [
	{jsxn, ".*", {git, "git://github.com/talentdeficit/jsxn.git", {branch, master}}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {branch, master}}},
	{pt, ".*", {git, "git://github.com/manifest/pt.git", {branch, develop}}}
]}.

