%% test options
{cover_enabled, true}.

%% compiler options
{erl_opts, [
	debug_info, 
	fail_on_warning
]}.

%% deps dirs
{deps_dir, ["deps"]}.

%% deps list
{deps, [
	{jsxn, ".*", {git, "git://github.com/talentdeficit/jsxn.git", {tag, "v0.2.1"}}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.10.0"}}},
	{pt, ".*", {git, "git://github.com/manifest/pt.git", {tag, "v0.1.1"}}},
	{pt_session, ".*", {git, "git://github.com/manifest/pt-session.git", {tag, "v0.1.0"}}}
]}.

